@model CrudApp.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contact_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contact_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contact_link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contact_link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.information_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.information_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.contact_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
