@model IEnumerable<CrudApp.Models.Contact>

@{
    ViewData["Title"] = "Contacts";
}

<h1>Contacts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contact_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contact_link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.information_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.contact_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact_link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.information_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.contact_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.contact_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.contact_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
